h1{
    font-size: 3em;
    border: 3px solid white;
    margin: 0;
    color: white;
}

body{
    padding-left: 1em;
    background-color: rgba(3, 15, 40, 0.98);
    margin: 0;
    padding-bottom: 100em;
    padding-top: 1em;
}
li{
    font-size: 1.5em;
    font-family: "Times New Roman";
    margin: 10px;
    color: white;

}
a:hover{
    font-size: 1.7em;
}

a{
    color: white;

}
