h1{
    font-size: 3em;
    border: 3px solid #008EA2;
    margin: 0;
}

body{
    padding-left: 1em;
    background-color: #00FFC8;
    margin: 0;
    padding-bottom: 100em;
    padding-top: 1em;
}
li{
    font-size: 1.5em;
    font-family: "Times New Roman";
    margin: 10px;
    color: #008EA2;

}
a:hover{
    font-size: 1.7em;
}

a{
    color: #008EA2;

}
