h1{
    font-size: 1.8em;
}
h2{
    font-size: 1.5em;
}
h3{
    font-size: 1.4em;
}

h1, h2, h3{
    font-family: Arial;
}

p {
    font-family: "Times New Roman";
}

.class-kleur1{
    color: red;
}
.class-kleur2{
    color: green;
}
.class-kleur3{
    color: blue;
}

.class-antwoord{
    color: grey;
}