.container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.container .block{
    padding:20px;
    color: white;
    font-size: 4em;
    font-weight:bold;
    text-align:center;
    background-color: purple;
}

.block.block1{
    grid-column-start: 1;
    grid-column-end: 4;
 }
.block.block2{
    grid-row-start: 2;
    grid-row-end: 4;
}
.block.block3{

}
.block.block4{

}
.block.block5{
    grid-column-start: 2;
    grid-column-end: 4;
}
.block.block6{
    grid-column-start: 1;
    grid-column-end: 3;
}
.block.block7{

}
.block.block8{
    grid-column-start: 1;
    grid-column-end: 4;
}
